<p id="notice"><%= notice %></p>

<h2>When did I?</h2>

<%= form_tag("/things", method: 'get') do %>
  <%= text_field_tag(:query, '', autofocus: true) %>
<% end %>

<div class="links">
  <%= link_to 'List all', things_path(query: '') %>
  <%= link_to 'Add a thing', new_thing_path %>
</div>

<% if @results %>
  <% if @results.empty? %>
    <p>No results :(</p>
  <% else %>
    <p class="result_count">Total results: <%= @results.count %></p>
  <% end %>

  <% @results.each do |thing| %>
    <%= render partial: 'things/thing', object: thing %>
  <% end %>
<% end %>
